h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family:'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #121212;
}

body .general{
    color: #F7F7F7;;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    
}

/* ========= HERO-ROOM========= */

.hero-room{
    padding-top: 40px;
    padding-bottom: 64px;
    background-color: #F6F6F6;
}

.title-room{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
letter-spacing: -0.02em;
text-transform: uppercase;
font-size: 40px;
line-height: 40px;
color: #121212;

margin-bottom: 24px;
}

.luxury{
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: #121212;
}

.room-view-button {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    border: 0.8px solid #121212;
    border-radius: 32px;
    border-color: #121212;
    background-color: transparent;
    
    padding: 8px 18px;
    margin-bottom: 40px;
        }

.hero-text{
    width: 289px;
}

.room-list{
    margin-bottom: 100px;
}

/* ========= HERO-ROOM========= */

.general{
    padding-top: 40px;
    padding-bottom: 64px;
    background-color: #121212;
}

.title-general{

        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.02em;
        margin-bottom: 28px;
}

.amenities-list{
    padding-bottom: 40px;
    padding-left: 20px;
}

.bookroom-button{
border: 0.8px solid #F7F7F7;
border-radius: 32px;
background-color: transparent;
padding: 8px 18px;
color: #F7F7F7;

    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.bookroom-button:hover{
background: #FFFFFF;
    border: 0.8px solid #F7F7F7;
    border-radius: 32px;
    color: #121212;
}

.bookroom-button:focus{
    color: #121212;
    background: #FFFFFF;
    border: 0.8px solid #F7F7F7;
    box-shadow: -14px 24px 68px -16px rgba(255, 255, 255, 0.15);
    border-radius: 32px;
}

.batheroom-foto{
position: relative;
width: 100%;
display: flex;
justify-content: end;
margin-bottom: 32px;
}

.batheroom2{
    position: absolute;
    top: 50%;
    transform: translate(0px,-50%);
    left: 0px;
    z-index: 2;
    height: auto;
}

.batheroom1 {
    position: relative;
    max-width: 70%;
    right: 0px;
    height: auto;
}

.bookroom-button{
    margin: 0 auto;
    display: block;
    padding: 8px 40px;
}